.vscode/**
.vscode-test/**
test/**
.gitignore
jsconfig.json
vsc-extension-quickstart.md
.eslintrc.json
bin/Debug/
bin/Release/
bin/*.pdb
obj/
.idea/
.github/
pnpm-lock.yaml
pnpm-workspace.yaml
global.json
NativeMethods.txt
*.cs
*.csproj
*.sln
bin/
target/
src/
Cargo.lock
Cargo.toml
index.d.ts